<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/home">
      <img src="/assets/images/logo.png" height="45" alt="">
    </a>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="loggedin == false" class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li *ngIf="loggedin == false" class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li *ngIf="loggedin == true" class="nav-item">
        <a class="nav-link fs" href="/list">Pet List</a>
      </li>
      <li *ngIf="loggedin == true" class="nav-item">
        <a class="nav-link fs" href="#" (click)="logOut()">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
