<div class="container-fluid bg-img " [style.height.px]="height">
  <br><br><br><br>
  
    <div class="row sticky-top">
        <div class="col-12 mx-auto text-center">
            <img class="img-fluid" src="assets/images/PetBase.png">
        </div>
    </div>

    <br>

    <div class="row">
        <div class ="col-11 mx-auto text-center">
            <h3 class="tg " style="text-align:center ">What is PetBase?</h3>

            <p class="tg" style="text-align:center">
                Dogs must also be cared for by being fed, watered, washed and brushed.<br>
                Once a day, they also need to be taken outside so that they can do their business and perhaps meet other dogs.<br>
                Fortunately, in PetBase the sweet creatures cannot die, but if neglected they will not fail to make their displeasure known to you.<br>
            </p>
            <p class="tg " style="text-align:center">
                &nbsp;
            </p>

            <h3 class="tg" style="text-align:center">With this application you can:</h3>

            <p class="tg" style="text-align:center ">
                    - Store all your dog's personal data, such as name, weight, date of birth, chip.<br>
                    - Keep track of all visits made and future visits.<br>
                    - Keep track of all vaccinations and booster shots.<br>
                    - Save reminders of administrations/visits<br>
                    - Save all administrations made or to be made.<br>
                    - Search for and contact your nearest vet<br>
                    - Manage your vets<br>
                    - Manage multiple dogs<br>
                    - Backup/Restore<br>
            </p>

            <h3 class="tg" style="text-align:center">What are you waiting for?<br> Register now on PetBase and take care of your puppies..</h3>
            <br>
            <div class="col mx-auto text-center">
                <a href="/register" class="btn btn-outline-success btn-reg pt-3 pb-3 pr-5 pl-5" type="button"><h1>Register</h1></a>
            </div>
            <br>
            <p class="tg" style="text-align:center">(PetBase is under continuous development, don't hesitate if you have any suggestions or advice to give us)</p>

        </div>

    </div>
</div>
