.bg-img {
  background-color: #b6ff94;
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tg {
  color: #585858;
  font-weight: bold;

}